#gameCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px solid white;
  //font-size: clamp(1.2rem, 2.5vw, 5rem);
  padding: 1.5vh;
  width:fit-content;
  margin: 1px auto;  
}

#gameCard ul {
  margin: 0;
  padding-top: 2px;
}
#gameCard li {
  background-color: #ffffff;
  display: inline-block;
  border-radius: 0;
  margin: 0 3px;
}
.blankLi {
  color: lightblue;
  background-color: lightblue;
}

.cardContainer {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}
.singleCard {
  background-color: $blue;
  width: fit-content;
  padding: 5px;
  min-width:380px;
  li {
    cursor:url(https://fontawesome.com/v5.15/icons/grin-hearts),pointer;
  }
}
.cardButtonContainer {
  margin-left: 10px;
  margin-top: 8px;
  button {
    //font-size: clamp(0.8rem, 2vw, 4rem);
  }
  .resetCardButton{

  }

  .lineCardButton{

  }

  .bingoCardButton{

  }

}


.cardContainer + .cardContainer {
  margin-top: 10px;
}
.matchedNumber {
  background-color: $cream !important;
  // border: 2px solid $red-400 !important;
  // border-radius: 50% !important;
  position:relative;
  z-index: 1;
  
}

.matchedNumber::before {
  position: absolute;

  top: -3px;
  left: -1.7px;
  font-family: "Font Awesome 5 Free"; 
  color: $red-400;
  font-weight: 400; 
  font-size: 1.8em;
  content: "\f5b8"; // 5b8 smile beam; 118 smile; 584 grin hearts
  
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

