$red: hsl(0, 82%, 21%);
$red-400: hsl(0, 82%, 41%);
$red-300: hsl(0, 82%, 61%);
$red-200: hsl(0, 82%, 81%);
$cream: #ffffae;
$blue: hsl(240, 80%, 26%);
$blue-400: hsl(240, 83%, 46%);
$blue-300: hsl(240, 83%, 66%);
$blue-200: hsl(240, 83%, 86%);
$lighgrey: #9a9a9a;
$darkgrey: #444343;

