*{
  margin: 0px;
  padding: 0px;
  border: none;
}
body{
text-align: center;
font-family: Verdana;
font-size: clamp(1.2rem, 2.5vw, 5rem);
height: 1.1vh;
}

p{
  display: block;
  height: 10px;
  width: 10px;
}

#bolasFuera {
  margin: 5px 10px;
}
#innerArray {
  margin-bottom : 10px;
}
